.game-board-paddle-game {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  padding: 2%;
  margin: 0 auto;
  background-color: #494545;
  text-align: center;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
}

.options-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

.game-board {
  text-align: center;
  width: auto;
  height: auto;
  padding: 0;
  margin: auto;
  cursor: none;
}

.game-board--full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
