h2 {
  padding: 5rem;
}

.language-container {
  width: 100%;
  height: 20%;
}

.polish {
  display: block;
  width: 50%;
  height: 40%;
  margin: 1rem auto;
  text-align: center;
  color: black;
  background: linear-gradient(to bottom, #ffffff 50%, #ff0000 100%);
  border: none;
}

.polish:hover {
  color: red;
}

.english {
  display: block;
  width: 50%;
  height: 40%;
  margin: 1rem auto;
  text-align: center;
  color: black;
  background: linear-gradient(to bottom, #ffffff 50%, #0000ff 100%);
  border: none;
}

.english:hover {
  color: blue;
}
