.container {
  background-color: #494545;
  color: #bd7777;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav {
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: #494545;
  height: 10vh;
}

.nav-item {
  height: 100%;
}

.nav-item:hover {
  background-color: #a04b4b;
  color: #fff;
}

.nav-item > a:hover {
  color: #fff;
}

.nav-link {
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: padding-box;
  padding: 1rem;
  border-bottom: 0;
}